{% load i18n %} {# Translation #}

{% block submit %}
	{% with align=align|default:"right" submit_text=submit_text|default:"Submit" %}
		<button class="btn waves-effect waves-light {{align}}" type="submit" name="action">
			<i class="material-icons right">send</i>
			{% blocktrans %}{{submit_text}}{% endblocktrans %}
		</button>
	{% endwith %}
{% endblock %}