{% load floppyforms %}
{% block row %}{% for field in fields %}
<div class="input-field col {{widths|default:'s12 m6'}}{% if field.help_text %} tooltipped{% endif %}"{% if field.help_text %} data-tooltip="{{field.help_text}}"{% endif %}>
	{% with classes="validate" label=label|default:field.label help_text=help_text|default:field.help_text icon=icon %}
		{% block icon %}
			{% if icon %}
				<i class="material-icons prefix">{{icon}}</i>
			{% endif %}
		{% endblock icon %}

		{% block field %}
			{% block widget %}{% formfield field %}{% endblock %}
			{% block errors %}{% include "floppyforms/errors.html" with errors=field.errors %}{% endblock %}
		{% endblock %}
		{% block label %}<label for="{{field|id}}">{{label}}</label>{% endblock %}
		{% block hidden_fields %}{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}{% endblock %}
	{% endwith %}
</div>
{% endfor %}{% endblock %}
